<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %} - HackTheCode</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block style %}{% endblock style %}
</head>

<body>
{% load socialaccount %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">HackTheCode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="nav-Home">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="nav-About">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item" id="nav-contact">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                
                {% if user.is_authenticated %}
                <!-- <p style="color: white;margin-top: auto;margin-bottom: auto;">Welcome, {{ user.username }} !</p> -->
                <div class="wrapper nav-item dropdown">
                    <span data-toggle="dropdown" style="color: white;" class="nav-link dropdown-toggle my-auto mr-2">
                        Welcome, {{ user.username }} !
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% block nav-dropdown %}{% endblock nav-dropdown %}
                        <li><a class="dropdown-item" href="/profile/{{ user.username }}">My Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div>
                <button type="button" class="btn btn-success"><a href="{% provider_login_url 'google' %}" style="color: white;">Login/ Signup</a></button>
                </div>

                {% endif %}

            </div>
        </div>
    </nav>
    {% block body %}{% endblock body %}
</body>

<script>
  $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
  });
</script>

{% block js %}{% endblock js %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</html>
